@import "tailwindcss";

@theme {
  --default-font-family: "Montserrat", sans-serif;
  --font-inconsolata: "Inconsolata", monospace;

  /* DARK */
  --color-red-500: #e3646e;
  --color-purple-500: #bb72e9;
  --color-blue-500: #3996db;
  --color-green-500: #82bc4f;
  --color-yellow-500: #eabd5f;
  --color-gray-900: #0d0e11;
  --color-gray-850: #3d3e41;
  --color-gray-800: #16181d;
  --color-gray-700: #292c34;
  --color-gray-300: #878ea1;
  --color-gray-200: #c0c4ce;
  --color-gray-100: #e2e4e9;

  /* LIGHT */
  --color-teal-600: #1c9b91;
  --color-green-600: #448d16;
  --color-orange-600: #c66924;
  --color-purple-600: #7d43b0;
  --color-blue-600: #1542a0;
  --color-stone-100: #f2f1ee;
  --color-stone-200: #e9e7e2;
  --color-stone-300: #d6d3cb;
  --color-stone-400: #78715e;
  --color-stone-500: #3f3b31;
  --color-stone-600: #1d1b16;

  --animate-pulse: pulse 5s ease infinite;

  @keyframes pulse {
    50% {
      opacity: 0.8;
    }
  }

  --animate-increaseDark: increaseDark 2s ease-in-out infinite;
  --animate-increaseLight: increaseLight 2s ease-in-out infinite;
  --animate-slideRightToLeft: slideRightToLeft 1s ease-in-out, pulse 5s ease infinite;
  --animate-slideLeftToRight: slideLeftToRight 1s ease-in-out;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

button,
a {
  cursor: pointer;
  
  &:focus-visible {
    outline: 1px solid var(--color-gray-100);
  }
}

.appear {
  animation: appear ease backwards;
  animation-timeline: view();
  animation-range: entry 0 entry 360px;
}

@keyframes increaseDark {
  0% {
    scale: 1;
    filter: brightness(1);
  }

  50% {
    scale: 1.15;
    filter: brightness(1.8);
  }

  100% {
    scale: 1;
    filter: brightness(1);
  }
}

@keyframes increaseLight {
  0% {
    scale: 1;
    filter: brightness(1);
  }

  50% {
    scale: 1.15;
    filter: brightness(0.2);
  }

  100% {
    scale: 1;
    filter: brightness(1);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(-500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear-teste {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
